@import "https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200";
/* title font */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,700;1,500&display=swap');
/* main text, tooltips, etc */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

@import "tooltip.css";
@import "layouts.css";
@import "content.css";
@import "buttons.css";

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' 0,
  'opsz' 48
}

#app {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
}

body {
  min-height: 100vh;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: uppercase;
}

p {
  font-size: 17px;
  line-height: 1.5;
  margin-bottom: 15px;
  color: rgb(0, 0, 0, 0.83);
}

a {
  text-decoration: none;
}

ul {
  padding-inline-start: 4%;
}
  & li {
    margin-bottom: 1.5%;
  }

li::marker {
  content: '– ';
  font-size: 0.8em;
  color: rgb(0, 0, 0, 0.83);
}

.lighter {
  font-weight: 200;
}

/* transitions */
.slide-up-enter-active {
  transition: all 0.25s;
}

.slide-up-leave-active {
  transition: all 0.125s;
}

.slide-up-enter-from {
  opacity: 0;
  transform: translateY(30px);
}

.slide-up-leave-to {
  opacity: 0;
  transform: translateY(-30px);
}

/* side slide */

.slide-enter-active,
.slide-leave-active {
  transition: transform 0.2s;
}

.slide-enter-from {
  transform: translateX(-100%);
}

.slide-enter-to {
  transform: translateX(0);
}

.slide-leave-from {
  transform: translateX(0);
}

.slide-leave-to {
  transform: translateX(100%);
}