.details_button {
  display: flex;
  align-items: center;
  /* padding: 0px 8px; */
  /* background-color: rgba(0, 0, 0, 0.07); */
  /* height: 24px; */
  font-size: 0.625rem;
  font-weight: 400;
  text-transform: uppercase;
  /* border-radius: 12px; */
  margin: 5px 15px 5px 0px;
  text-decoration: none;
  letter-spacing: 0.5px;
}