.two-column {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 400px;
  height: 100vh;
}
.two-column_right {
  background-size: cover !important;
  background-position-x: center !important;
  background-position-y: top !important;
  background-color: #000;
  background-image: url('@/assets/images/workdesk.jpg');
}
@media only screen and (max-width: 1100px) {
  .two-column {
    grid-template-columns: 1fr;
  }
  .two-column_right {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .two-column {
    height: calc(100vh - 80px); /* also check '.mainContent' in content.css */
  }
}