.two-column {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 400px;
}
.two-column_right {
  background-size: cover !important;
  background-position-x: center !important;
  background-position-y: top !important;
}
@media only screen and (max-width: 1100px) {
  .two-column {
    grid-template-columns: 1fr;
  }
  .two-column_right {
    display: none;
  }
}